#login-view {
background: url(login.png) no-repeat right 68px;
position: relative; top: -50px; height: 244px;
}

#login-dd {
cursor: move;
text-shadow: #CCC 2px 3px 0;
font: 3em serif;
}

.login-shutdown {
background: url(shutdown.png) no-repeat !important;/* +hover trigger */
border: 0 !important;
width: 22px !important;
height: 22px !important;
}

.ru{
background: url(flags/ru.gif) no-repeat;
cursor: pointer;
}
.en{
background: url(flags/us.gif) no-repeat;
cursor: pointer;
}
.l10n-reset{
background: url(l10n-reset.png) no-repeat;
background-size: 11px;
cursor: pointer;
}

.userman {
background-image: url(um32x32.gif);
}

.appbar-shutdown {
background-image: url(shutdown.png);
width: 22px!important;
height: 22px!important;
}
.appbar-user-online {
background-image: url(user-online.png);
width: 22px!important;
height: 22px!important;
}
.appbar-user-offline {
background-image: url(user-offline.png);
width: 22px!important;
height: 22px!important;
}
.appbar-user-busy {
background-image: url(user-busy.png);
width: 22px!important;
height: 22px!important;
}
.appbar-user-away {
background-image: url(user-away.png);
width: 22px!important;
height: 22px!important;
}
